.fir1{
    height:80px;
    width: 130px;
    background-color: rgb(127, 161, 255);
    border-width: 5px ;
    border-style: solid;
    border-color: coral ;
    outline: 5px solid rgb(24, 206, 63);
    padding-left: 70px;
}
.fir2{
    margin-top: 20px;
    margin-left: 220px;
    height:80px;
    width: 130px;
    background-color: rgb(127, 161, 255);
    border-width: 5px ;
    border-style: solid;
    border-color: coral ;
    outline: 5px solid rgb(24, 206, 63);
    padding-left: 70px;
}
.fir3{
    margin-top: 20px;
    margin-left: 420px;
    height:80px;
    width: 130px;
    background-color: rgb(127, 161, 255);
    border-width: 5px ;
    border-style: solid;
    border-color: coral ;
    outline: 5px solid rgb(24, 206, 63);
    padding-left: 70px;
}
.fir4{
    margin-top: 20px;
    margin-left: 650px;
    height:80px;
    width: 130px;
    background-color: rgb(127, 161, 255);
    border-width: 5px ;
    border-style: solid;
    border-color: coral ;
    outline: 5px solid rgb(24, 206, 63);
    padding-left: 70px;
}
.fir5{
    margin-top: -200px;
    margin-left: 890px;
    height:80px;
    width: 130px;
    background-color: rgb(127, 161, 255);
    border-width: 5px ;
    border-style: solid;
    border-color: coral ;
    outline: 5px solid rgb(24, 206, 63);
    padding-left: 70px;
}
.fir6{
    margin-top: -200px;
    margin-left: 1090px;
    height:80px;
    width: 130px;
    background-color: rgb(127, 161, 255);
    border-width: 5px ;
    border-style: solid;
    border-color: coral ;
    outline: 5px solid rgb(24, 206, 63);
    padding-left: 70px;
}
.fir7{
    margin-top: -200px;
    margin-left: 1290px;
    height:80px;
    width: 130px;
    background-color: rgb(127, 161, 255);
    border-width: 5px ;
    border-style: solid;
    border-color: coral ;
    outline: 5px solid rgb(24, 206, 63);
    padding-left: 70px;
}

