.fir1{
    height:80px;
    width: 130px;
}
.fir2{
    margin-top: 120px;
    margin-left: 300px;
    height:80px;
    width: 130px;
}
.fir3{
    margin-top: 160px;
    margin-left: 00px;
    height:80px;
    width: 130px;
}
.fir4{
    margin-top: 100px;
    margin-left: 600px;
    height:80px;
    width: 130px;
}
.fir5{
    margin-top: 130px;
    margin-left: 900px;
    height:80px;
    width: 130px;
    
}
.fir6{
    margin-top: 160px;
    margin-left: 1100px;
    height:80px;
    width: 130px;
}
    
.fir7{
    margin-top: -1160px;
    margin-left: 1300px;
    height:80px;
    width: 130px;
    
}
.fir8{
    margin-top: 160px;
    margin-left: 1100px;
    height:80px;
    width: 130px;
}
.fir9{
    margin-top: 120px;
    margin-left: 900px;
    height:80px;
    width: 130px;
}
.fir10{
    margin-top: 320px;
    margin-left: 300px;
    height:80px;
    width: 130px;
}
.fir11{
    margin-top: 150px;
    margin-left: 0px;
    height:80px;
    width: 130px;
}
    